@model PublishingHouse.Models.ArticleViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal col-md-10" style="padding-right: 100px;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annotation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annotation)
        </dd>
        <dd>
            <br />
            @Html.ActionLink(@Resources.Resource.BackToList, "Index")
        </dd>
    </dl>
</div>
