@model PublishingHouse.Models.ArticleViewModel
<style type="text/css">
    .inputTextField {
        width: 100%;
        min-height: 40px;
    }
</style>

@using (Html.BeginForm("Index", "Load", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-md-12 col-xs-12 inputTextField" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Authors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Authors, new { htmlAttributes = new { @class = "form-control col-md-12 col-xs-12 inputTextField" } })
                @Html.ValidationMessageFor(model => model.Authors, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Annotation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Annotation, new { htmlAttributes = new { @class = "form-control col-md-12 col-xs-12 inputTextField" } })
                @Html.ValidationMessageFor(model => model.Annotation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="file" class="control-label col-md-2">@Resources.Resource.ArticlePath</label>
            <div class="col-md-10">
                <input type="file" name="File" id="file" value="" class="form-control col-md-12 col-xs-12"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Resource.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}